<table id="tabla_users" class="table table-striped table-condensed">
      <thead>
      <tr>
          <th>Id/Permalink</th>
          <th>Email</th>
          <th>User type</th>
          <th>Creations</th>
          <th>Credit/subscription</th>
          <th>Creation Date</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <% @users.each do |users| %>
    <tr>
        <td><%= users.id_permalink %></td>
        <td><%= users.email %></td>
        <td><%= users.usertype %></td>
        <td><%= users.creations %></td>
        <td><%= users.credit_subscription %></td>
        <td><%= users.creation_date %></td>
        <td><button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-calendar"></i></button><button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-piggy-bank"></i></button><button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-user"></i></button><button type="button" class="btn btn-default btn-circle">  <i class="glyphicon glyphicon-remove-circle"></i></button></td>
    </tr>
    <%= puts "Usuarios" %>
    <%= puts users.id_permalink %>
    <%= puts users.email %>
    <%= puts users.usertype %>
    <%= puts users.creations %>
    <%= puts users.credit_subscription %>
    <%= puts users.creation_date %>
    <%= puts "-----------------------------------------------" %>
    <%end %>
  </tbody>
</table>
<div class="text-center" id='paginacion'><%== pagy_nav_bootstrap(@pagy).html_safe %></div>
