<h1>Add new User</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "id_permalink">permalink</label>:
<%= text_field 'users', 'id_permalink',  placeholder:"id" %></p>
<p><label for = "email">Email</label>:
<%= text_field 'users', 'email',  placeholder:"user@example.com" %></p>
<p><label for = "usertype">Usertype</label>:
<%= text_field 'users', 'usertype',  placeholder:"Standard" %></p>
<p><label for = "creations">Creations</label>:
<%= text_field 'users', 'creations',  placeholder:"" %></p>
<p><label for = "credit_subscription">Credit/subscription</label>:
<%= text_field 'users', 'credit_subscription',  placeholder:"3000" %></p>
<p><label for = "creation_date">date of creation</label>:
<%= text_field 'users', 'creation_date',  placeholder:"01/01/1900" %></p>
<%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Back', {:action => 'list'} %>



<br>
<br>
<br>
<br>
