<% if @users.blank? %>
<p>There are not any users currently in the system.</p>
<% else %>
<% end %>
<script>
window.addEventListener("turbolinks:load", Pagy.init);
$(document).ready(function() {
  $("#form_search input").on('keydown', function (e) {
    if ( e.which == 13 ) return false;
  });
    $("#form_search input").on('keyup', function (e) {
      var wordFind = $("#search input").value;
       var input = $("<input>").attr("type", "hidden").attr("name", "usertype").val($( "#select_usertype option:selected" ).text());
      $("#form_search").append(input);
      $.get($("#form_search").attr("action"), $("#form_search").serialize(), null, "script");
      return false;
    });
    $("#form_dropdown select").on('change', function (e) {
      $("#buscador").val(null);
      $.get($("#form_dropdown").attr("action"), $("#form_dropdown").serialize(), null, "script");
      return false;
    });
});
</script>
<div class="container" id="contenedor_principal">

  <div>
    <div class="d-flex">
      <div class="col-sm-4">
        <%= form_tag({:action => "search"}, :method => "get", id: "form_dropdown") do%>
        <%= select_tag :usertype, options_for_select(['All','Standard', 'Pro', 'Custom']), id:"select_usertype", :class => "form-control" %>
        <% end %>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-right">
          <%= form_tag({:action => "search_by_email_or_permalink"}, :method => "get", :class => 'form-inline', id: "form_search") do %>
          <%= text_field_tag :term, '', placeholder:"Permalink or Email", id:'buscador' %>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
    	<div class="row" id="table_div">
    		<div class="span5" id="users">
                <%= render 'user' %>
        </div>
        <div>
          <div class="text-center" id='paginacion'><%#= will_paginate @users, :params => { :action => 'list' }%></div>
        </div>
    	</div>
    </div>
  </div>
  <p><%= link_to "Add new User", {:action => 'new' }%></p>
</div>
