<% content_for :javascript_includes do %>
  <%= javascript_include_tag "user_details.js" %>
<% end %>
<%if @paginate%>
  <script>
  $(document).ready(function() {

    $("#render_table").click(function (e) {
      var tmp =  $('#email').text();
      tmp = tmp.split('@');
      tmp = tmp[0].trim();
      page = $("#page").val();
      var id =  $('#id_user').val();
      console.log(id);
      var values = {
              'term': tmp,
              'user_id': id,
              'page': page
      };
      console.log(values);

      $.ajax({
          url: "relatedUsers",
          type: "GET",
          data: values
      });
      // $.get($("#form_search").attr("action"), $("#form_search").serialize(), null, "script");
    });
    $('#div_to_close').addClass('collapsed');
    $('#collapseOne').removeClass('in');
    $("#users").html("<%= escape_javascript(render("user")) %>");
    $('#div_to_open').removeClass('collapsed');
    $('#collapseThree').addClass('in');

    // setTimeout(function(){ $("#div_to_open")[0].click(); }, 0);
    // $('#collapseThree').addClass('in');
  });
  </script>

<%else%>

  <script>
  $(document).ready(function() {
    $("#render_table").click(function (e) {
      var tmp =  $('#email').text();
      tmp = tmp.split('@');
      tmp = tmp[0].trim();
      page = $("#page").val();
      var id =  $('#id_user').val();
      console.log(id);
      var values = {
              'term': tmp,
              'user_id': id,
              'page': page
      };
      console.log(values);

      $.ajax({
          url: "relatedUsers",
          type: "GET",
          data: values
      });
      // $.get($("#form_search").attr("action"), $("#form_search").serialize(), null, "script");
    });
  });
  </script>

<%end%>


  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <div class="container">
  	<div class="row">
  		<div class="col-sm-12">
      									<div class="tabbable">
  											<ul id="myTab4" class="nav nav-tabs padding-12 tab-color-blue background-blue">
  												<li class="active">
  													<a href="#home4" data-toggle="tab"><h3><% @user.each do |p|%><%= p.email %><%end%>
                        </h3></a>
  												</li>
  											</ul>

  											<div class="tab-content">
  												<div class="tab-pane active" id="home4">
  													<div class="row">
  <div class="col-sm-12">
  <div id="accordion" class="accordion-style1 panel-group">
  <div class="panel panel-default">
  <div class="panel-heading" >
    <h4 class="panel-title">
    <a id= "div_to_close" class="accordion-toggle" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
    <i class="icon-angle-down bigger-110" data-icon-show="icon-angle-right" data-icon-hide="icon-angle-down"></i>
     Details
    </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in">

  <div class="panel-body">
     <% @user.each do |c| %>
    <table style="border-collapse: separate; border-spacing: 50px 0;">
      <tr>
        <th>
          Email:
          <input type="hidden" id="id_user" name="custId" value="<%=c.id%>">
        </th>
        <td id="email">
          <%= c.email %>
        </td>
        <td>

          <div style="position:relative; left:80%;"> <button id="myShowHidebtn" class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-user"></span><br>login</button>
                                                   <button id="myShowHidebtn" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-ban-circle"></span><br>block</button>
         <div>

        </td>
      </tr>
      <tr>
        <th>
          Usertype:
        </th>
        <td>
          <%= select_tag :usertype, options_for_select(['Standard', 'Pro', 'Custom'], :selected=>c.usertype), id:"select_usertype", :class => "form-control" %>
        </td>
      </tr>
      <tr>
        <th>
          Credit / subscription:
        </th>
        <td>
          <%= c.credit_subscription %>
        </td>
        <td>
          <a class="btn btn-info btn-xs see-button hvr-shutter-out-horizontal specialty-button" href="#" role="button"><span class="glyphicon glyphicon-credit-card"></span><br>Add credit</a>
        </td>
      </tr>
      <tr>
        <th>
          Creation date:
        </th>
        <td>
          <%= c.creation_date %>
        </td>
      </tr>
      <tr>
        <th>
          Channels:
        </th>
        <td>
          <%= select_tag :channel, options_for_select(['Channels 1', 'Channels 2', 'Channels 3'], :selected=>'Channel 1'), id:"select_channel", :class => "form-control" %>
        </td>
      </tr>
    </table>



  <%end%> </div>
  </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading">
  <h4 class="panel-title">
  <a class="accordion-toggle collapsed" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">
  <i class="icon-angle-right bigger-110" data-icon-show="icon-angle-right" data-icon-hide="icon-angle-down"></i>
   Payment Details
  </a>
  </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse">
  <div class="container panel-body">

    <div class="col-md-5 special-info-column">

      <% @user.each do |c| %>
        <table style="border-collapse: separate; border-spacing: 50px 0;">
            <th>
              Subscription:
            </th>
            <td>
              Next payment: xxx<br>
              N free months
            </td>
            <td>
              <a class="btn btn-info btn-xs see-button hvr-shutter-out-horizontal specialty-button" href="#" role="button"><span class="glyphicon glyphicon-plus"></span><br>free months</a>
            </td>
          </tr>
          <tr>
            <th>
              Subscription:
            </th>
            <td>
              <%= c.id_permalink %>
            </td>
          </tr>
          <tr>
            <th>
              Creation:
            </th>
            <td>
              <%= c.creations %>
            </td>
          </tr>
        </table>
        <% end %>
        <br>
        <br>


    </div>
    <div class="col-md-1 special-inner-section "></div>
    <div class="col-md-6 special-inner-section ">

      <fieldset>
     <legend><span class="glyphicon glyphicon-credit-card"></span> Payment</legend>

     <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
        <p1>Card Holder's Name</p1>
      </div>
     <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Card Number</label>
        <p1>4XXX XXXX XXXX X054</p1>
      </div>
     <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Expiration date</label>
        <p1>02/23</p1>
      </div>
      <div class="more-button">
    <a class="btn btn-info btn-lg see-button hvr-shutter-out-horizontal specialty-button" href="#" role="button">Change payment details</a>
      </div>

   </fieldset>
    </div>

  </div>
  </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading" id="render_table">
  <h4 class="panel-title">
  <a id="div_to_open" class="accordion-toggle collapsed" href="#collapseThree" data-parent="#accordion" data-toggle="collapse">
  <i class="icon-angle-right bigger-110" data-icon-show="icon-angle-right" data-icon-hide="icon-angle-down"></i>
   Render table
  </a>
  </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse">
  <div class="panel-body" id="users" style="padding:0; overflow:auto">
    <div> <% if @users.blank?%>
          puts 'no hay users'
        <% else %>
          puts 'hay users'
          <%render 'user' %>
        <%end%>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  												</div>
  											</div>
  										</div>
  									</div>
  	</div>
  </div>
  <input type="hidden" id="page" name="page" value="<%= params[:page]%>">
